<div class="card">
  <div class="card-header card-header-success">
    <h4 class="card-title">Tạo mới quản trị viên</h4>
    <p class="card-category"></p>
  </div>
  <div class="card-body">
    <%= users_new_page(@user) %>
  </div>
</div>