<div class="card">
  <div class="card-header card-header-success">
    <h4 class="card-title">Tạo mới lịch học</h4>
    <p class="card-category"></p>
  </div>
  <div class="card-body">
    <%= schedules_new_page(@schedule) %>
  </div>
</div>