<div class="card">
  <div class="card-header card-header-success">
    <h4 class="card-title">Tạo mới môn học</h4>
    <p class="card-category"></p>
  </div>
  <div class="card-body">
    <%= subjects_new_page(@subject) %>
  </div>
</div>