<div class="contaier" style="margin-top:10%">
  <div class="row">
    <div class="col-md-5 offset-md-4">
      <div>
        <img src="/logo-login.png" alt="Logo" class="logo-login">
      </div>
      <!-- <h2>Login</h2> -->
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Mật khẩu</label>
          <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
        </div>
        <%= f.submit "Đăng nhập", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>