<div class="card">
  <div class="card-header card-header-success">
    <h4 class="card-title">Chỉnh sửa quyền</h4>
    <p class="card-category"></p>
  </div>
  <div class="card-body">
    <%= roles_edit_page(@role) %>
  </div>
</div>